In [6]:
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        import pyttsx3
from pyttsx3 import Engine
engine: Engine = pyttsx3.init('sapi5')
voices = engine.getProperty('voices')
engine.setProperty('voice', voices[1].id)
engine.setProperty('rate', 160)
engine.runAndWait()
def talk(text):
    engine.say(text)
    print(text)
    engine.runAndWait()

In [7]:
talk("Hello")

Hello

In [3]:
pip install pyaudio

Requirement already satisfied: pyaudio in c:\users\idmak\anaconda3\lib\site-packages (0.2.11)
Note: you may need to restart the kernel to use updated packages.

# DATATYPE & VARIABLES

1. Integers
2. String
3. Float
4. boolean

variables: variable_name = value
reserved memory location used to store values

Variable names are case-sensitive (age and Age are different variables).
Variable names must begin with a letter (a-z, A-Z) or an underscore (_).
Subsequent characters can be letters, digits (0-9), or underscores.
Avoid using reserved words as variable names (e.g., if, else, while, etc.).

In [3]:
_Integer = 7345
string = "akash  s as dsa dsa"
float_num = 12.5
boolean = True or False

In [18]:
name = "akash m"
department = "cse"
sec="A"
Rollno=12321
print(name)

akash m

In [17]:
print(name)

akash m

# OPERATORS

In [9]:
a = 3
b = 8
c=6
d=1

In [10]:
print((a-d)%b*c)

12

In [6]:
print(a-b)

-5

In [7]:
print(a*(b+a))

33

In [2]:
name = "Akash"
greeting = ' Have'+" a" + " Great "+"Day"
print(name + greeting)

Akash Have a Great Day

In [ ]:
names = name*3
print(names)

In [11]:
a = "mom"
b= "mom"
a=1

In [9]:
a += 2

In [10]:
a

3

In [14]:
a = a+2

In [15]:
a

5

In [24]:
a += b

1

In [7]:
a=("!","")
b=1
b not in a

False

# Indexing and slicing

enter your name: cynthia

c  y  n  t  h  i  a
0  1  2  3  4  5  6

In [19]:
name[-1]

'a'

In [20]:
name[0].upper()+name[1:]

'Cynthia'

In [18]:
name[1:4]

'ynt'

In [ ]:
name[1:4]

In [20]:
number = "0123456789"
print(number[::2])

02468

# Functions and  Formating

In [5]:
lang = input("enter your name ")

enter your name cynthia

In [8]:
lang=lang.capitalize()

In [9]:
lang

'Cynthia'

In [10]:
lang.swapcase()

'cYNTHIA'

In [11]:
name='my name is cynthia'

In [12]:
name1=name.replace('cynthia','akash')
print(name1)

my name is akash

In [31]:
color=input("enter your fav color")
print(f"{color} is my fave color")

enter your fav colorred
red is my fave color

In [13]:
color="blue"

In [15]:
print(color +" is my fav color")

blue is my fav color

In [16]:
print(f"{color} is my fav color")

blue is my fav color

In [21]:
a = int(input("value 1? "))
b = int(input("value 2? "))
print(f"The sum of the two number is: {a+b} the multiple of two number is: {a*b}")

value 1? 2
value 2? 4
The sum of the two number is: 6 the multiple of two number is: 8

In [24]:
a=5
b=40.52162
print(f"{b:1.4f} is your answer" )

40.5216 is your answer

In [32]:
print("{lang:1.2f} is a float".format(lang = 1.54454))

1.54 is a float

# List in Python

In [36]:
mylist = ['Apple',"1kg",[1,2,2.2,4],["apple",12,[1,2,3,4]]]

In [40]:
mylist=[1,2,3,4,"asdd",True]

In [60]:
mylist

[1, 2, 4, True, 4, 4]

In [61]:
mylist.append(1)

In [44]:
mylist.pop()

6

In [48]:
mylist.remove("asdd")

In [62]:
mylist.count(1)

3

In [63]:
mylist.index(2)

1

In [64]:
mylist.extend([6,7,8,9,10])

In [65]:
mylist

[1, 2, 4, True, 4, 4, 1, 6, 7, 8, 9, 10]

In [34]:
anolist = ["mango's",1.5,100]

In [36]:
clist = mylist+anolist

In [49]:
matrix=[[1,2,3],[4,5,6],[7,8,9]]

In [50]:
matrix[1][0]

4

Indexig and slicing in list

In [42]:
clist[0:3]

['Apple', '1kg', "mango's"]

In [ ]:
new_list = {"red":"apple","orange":"orange","yellow":"mango"}

In [ ]:
new_list["yellow"]="banana"
print(new_list)

In [ ]:
word=input()
if word==word[::-1]:
    print("palindrom")
else:
    
    print("no")

# Append , Pop , Sort, reverse in list

In [51]:
print(clist)

['Apple', '1kg', "mango's", 1.5, 100]

In [54]:
clist.append([1,2,3,4])

In [55]:
clist

['Apple', '1kg', "mango's", 1.5, 100, 'milk', [1, 2, 3, 4]]

In [58]:
clist.pop(0)

'Apple'

In [59]:
clist

['1kg', "mango's", 1.5, 100, 'milk']

In [ ]:
poped_item = clist.pop(0)
print(poped_item)

In [16]:
number_list = ["a","B","c"]

In [19]:
number_list.sort()

In [20]:
number_list

['B', 'a', 'c']

In [4]:
number_list.reverse()

In [5]:
number_list

[7, 4, 3, 2, 1]

In [1]:
numlist=[6,5,7,4,2,8,3,1,9]

In [2]:
numlist[0]

6

In [3]:
numlist[1:6]

[5, 7, 4, 2, 8]

# Dictionaries in Python

In [ ]:
my_dict = {'key1':'value','key2':'value2'}

In [ ]:
my_dict['key1']

In [21]:
stud_rollno={"sriram":193510,"akash":193511,"basu":193512,"gohul":140312}

In [22]:
stud_rollno["gohul"]

140312

In [ ]:
price_list['orange']

In [24]:
d = {'k1':123,'ice cream':["choc","vanila","straw"],'foods':{'fruit':'apple' ,'fastfood':'pizza','juice': 'milk shake'}}

In [28]:
d['foods']['fastfood'] = "fried rice"

In [ ]:
d['ice cream'][2]

In [29]:
d['foods']['fastfood']

'fried rice'

In [ ]:
d = {"k1":123,"k2":"hello","fruits":["apple","grapes","orange"],"k3":{"inside key":100}}

In [ ]:
d["k3"]["inside key"]

In [ ]:
d['k3']['inside key']

In [ ]:
d['k3']['inside key'] = 200

In [ ]:
d['k3']['inside key']

In [ ]:
d["fruits"][1]

# Tuples With Python

In [ ]:
t = (1,2,3,4)

In [ ]:
lst = [1,2,3,4]

In [ ]:
type(lst)

In [ ]:
len(t)

In [ ]:
t1 = ("one",2,3.00,[1,2,4])

In [ ]:
t1[-2]

In [ ]:
t1[-1][0]

# Count & index functions in tuple

In [ ]:
cntry = (1,1,"USA","IND","UK","IND","USA","IND")

In [ ]:
cntry.count("USA")

In [ ]:
cntry.index("UK")

In [ ]:
lst = [1,2,3,4]
t = (1,2,3,4)

In [ ]:
lst[0] = 2
lst

In [ ]:
t[0] = 2

# sets in pyhton

In [ ]:
sets = set("a")

In [ ]:
sets

In [ ]:
sets.add("a")
sets.add("c")
sets

In [ ]:
sets.remove("c")

In [ ]:
sets

In [1]:
number1 = (1,2,3,1,2,3,4,5,5,6,6)

In [13]:
number1

(1, 2, 3, 1, 2, 3, 4, 5, 5, 6, 6)

In [15]:
number1=list(number1)

In [26]:
number1

(0, 1, 2, 3, 4, 5, 6)

In [17]:
number1.append(1)

In [19]:
number1[-1]=0

In [21]:
number1=tuple(number1)

In [25]:
number1=tuple(set(number1))

In [27]:
number1

(0, 1, 2, 3, 4, 5, 6)

In [ ]:
price_list={input("enter the product name "):int(input("enter the price ")),input("enter the product name "):int(input("enter the price ")),input("enter the product name "):int(input("enter the price ")),input("enter the product name "):int(input("enter the price "))}
cart = input("list of product: ").split(",")
print(price_list[cart[0]]+price_list[cart[1]]+price_list[cart[2]])

In [ ]:
cart = input("list of product: ").split(",")
print(price_list[cart[0]]+price_list[cart[1]]+price_list[cart[2]])

In [ ]:
list1=input().split("0")
print(list1)

In [ ]:
print(price_list[cart[0]]+price_list[cart[1]]+price_list[cart[2]])

# Conditional Statements

IF Conditions

In [4]:
if True:
    print("hello")
else:
    print("world")

hello

In [5]:
age = int(input("Enter your age: "))
if age >= 18:
    print("Eligible")
else:
    print("Not Eligible")

Enter your age: 18
Eligible

In [34]:
products = input("Enter your product ")
if products == "apple":
    print("product available")
elif products == "orange":
    print("product available")
elif products == "grapes":
    print("product available")
else:
    print("not available")

Enter your product mango
not available

In [ ]:
products = input("Enter your product ")

available_products = ["apple","orange","grapes"]


if products in available_products:
    print("product available")
else:
    print("product not available")

In [6]:
username = input("Enter your name")
activename=["akash","gohul","gamkers"]
if username in activename:
    print("online")
else:
    print("offline")

Enter your namegamkers
online

# x = int(input("enter the number of commands"))
n = 0
while n != x:
    n += 1
    command = input("enter your command")
    if "hello" in command or "hi" in command:
        talk("hi how are you?")
    elif "fine" in command or "good" in command:
        talk("happy to hear that")
    elif "name" in command:
        talk("my name is BOT")
        talk("whats your name")
        name = input()
        talk(f"nice to meet you {name}")
    elif "morning" in command:
        talk("A very Good Morning! I hope this morning brings a bright smile on your face")
    elif"evening" in command:
        talk("No matter how bad your day has been, the beauty of the setting sun will make everything serene")
    elif"stop" in command:
        break
    elif"thanks" in command:
        talk("your smile makes me happy too")
    else:
        talk("i didn't get you")

# For Loop

In [ ]:
number = [1,2,3,4,5,6]
for x in number:
    print(x)

In [ ]:
number = [1,2,3,4,5,6]
for x in number:
    if x%2==0:
        print(f"{x} Even")
    else:
        print(f"{x} ODD")

In [42]:
8%2

0

In [1]:

for i in range(50,100):
    if i%2==0:
        print(i)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [ ]:
marks = [95,86,72,68]
for x in marks:
    if x >= 90:
        print("A+")
    elif x > 80 and x < 95 :
        print("A")
    elif x > 70 and x < 80 :
        print("B+")
    elif x > 60 and x < 70:
        print("B")
    else:
        print("F")

# While Loop

In [3]:

a=1
while a < 10:
    print("hello"+str(a))
    a = a+1

hello1
hello2
hello3
hello4
hello5
hello6
hello7
hello8
hello9

In [17]:
a=((1,20),(2,3),(4,5),(6,7))
for x,y in a:
    print(x+y)

21
5
9
13

In [10]:
a=1
while a<10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9

In [5]:
a=0
while True:
    a=a+1
    print(a)
    if a >= 10:
        break

1
2
3
4
5
6
7
8
9
10

In [29]:
a=[]

In [30]:
len(a)

0

In [20]:
mylist = []

while len(mylist) < 5:
    mylist.append(input("enter the name "))
print(mylist)

enter the name akash
enter the name cynthia
enter the name isac
enter the name joel
enter the name john
['akash', 'cynthia', 'isac', 'joel', 'john']

In [34]:
mylist[4]

'john'

In [1]:
print(range(4))

range(0, 4)

In [4]:
n=list(range(5))

In [6]:
print(n)

[0, 1, 2, 3, 4]

In [51]:
productp = {}
no=int(input("number of products: "))
while len(productp) < no:
    prod=input("Enter the Product name: ")
    productp[prod] = int(input("Price of the product: "))
    
print(productp)

number of products: 2
Enter the Product name: grill
Price of the product: 400
Enter the Product name: shawarma
Price of the product: 150
{'grill': 400, 'shawarma': 150}

In [38]:
prod={"a":1,"b":2}

In [39]:
len(prod)

2

In [55]:
buy=["shawarma",'grill']

In [58]:
pric=0
for i in buy:
#     print(productp[i])
    pric+=productp[i]
print(pric)

550

In [7]:
for i in range(10):
    print("apple")

apple
apple
apple
apple
apple
apple
apple
apple
apple
apple

In [ ]:
x=0
while x < 10:
    print(x)
    x = x+1   ## x

In [ ]:
mylist = ["apple","orange","grapes"]
print(len(mylist))
len(mylist) > 4

In [ ]:
user = input().split(",")
keys = ["akash","darkii","siri","sai"]
for x in user:
    if x not in keys:
        print("vaipila raja")
    else:
        print(f"welcome {x}")

In [25]:
score=[20,40,10,80,30,35,90,65,37,95,100,9]
for point in score :
    if point >=90:
        print("very good")
    elif point >=70 and point <=90:
        print("good")
    elif point >=50 and point <70:
        print("avarage")
    elif point >=35 and point <50:
        print("just pass")
    elif point >=10 and point <35:
        print("fail")
    else:
        print("worst")

fail
just pass
fail
good
fail
just pass
very good
avarage
just pass
very good
very good
worst

# List Comprehension

In [30]:
name = "akash"
latter=[]
for i in "akash":
    latter.append(i)

In [31]:
latter

['a', 'k', 'a', 's', 'h']

In [13]:
nlist = [latters for latters in name]
nlist

['a', 'k', 'a', 's', 'h']

In [35]:
evenum = [ num*2 for num in range(0,100,2)]
evenum

[0,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96,
 100,
 104,
 108,
 112,
 116,
 120,
 124,
 128,
 132,
 136,
 140,
 144,
 148,
 152,
 156,
 160,
 164,
 168,
 172,
 176,
 180,
 184,
 188,
 192,
 196]

In [37]:
sqrnum = [ numbers**3 for numbers in range(0,100) ]
sqrnum

[0,
 1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299]

In [ ]:
#if will be in the ending. note: without the else

In [44]:
namelist = ["akash","basskaran","abinash","darkii","arjis"]
alist = [names for names in namelist if names[0]=="a" ]
print(alist)

['akash', 'abinash', 'arjis']

In [ ]:
celcius = [3,4,6,7,8,9]
fahrenhiet = [((9/5)*temp+32) for temp in celcius]
print(fahrenhiet)

In [ ]:
#if else in the front of the for loop

In [38]:
results = [x if x%2 == 0 else "odd" for x in range(0,10)]

In [39]:
print(results)

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

In [40]:
results = [x*y for x in [1,2,3,4] for y in [1,2,3,4]]

In [41]:
results

[1, 2, 3, 4, 2, 4, 6, 8, 3, 6, 9, 12, 4, 8, 12, 16]

In [17]:
greetings = ["hi "+names.upper()  for names in ["akash","darki","siri","Arun"] if names[0].upper()=="A"]

In [18]:
greetings

['hi AKASH', 'hi ARUN']

METHODS AND FUNCTIONS

In [ ]:
mylist=[1,2,3,4,5,6]

In [ ]:
mylist.insert(2,5)
mylist

In [ ]:
mylist.extend("s")
mylist

# USER DEFINED FUNCTIONS

In [167]:
def greeting(name,day):
    print(f"hello {name}, good {day}")

In [169]:
greeting("gamker","morning")

hello gamker, good morning

In [180]:
def palindrome(string):
    return string==string[::-1]

In [181]:
palindrome("akash")

False

In [182]:
def palindrome(string):
    return string==string[::-1]

name = input()
if palindrome(name):
    print("palindrome")
else:
    print("not a plaindrome")

level
palindrome

# Q1 ODD OR EVEN

In [186]:
def oddoreven(num):
    return num%2==0

In [189]:
if oddoreven(2):
    print("even")
else:
    print("odd")

even

In [ ]:
def oddeven(num):
    if num%2==0:
        print("even")
    else:
        print("odd")

In [190]:
oddoreven(2)

True

In [ ]:
def check(num):
    return num%2==0:

num=int(input())
satisfy=check(num)
if check(2):
    print("even")
else:
    print("false")

In [192]:
num=2
num%2==0

True

# Q2 Area of the Rectangle

In [193]:
def area(l,w):
    a = w * l
    return a

In [197]:
l = int(input("Enter the length of the Rectangle: "))
w = int(input("Enter the Width of the Rectangle: "))
print("area of the Rectangle: ",area(l,w))

Enter the length of the Rectangle: 3
Enter the Width of the Rectangle: 5
area of the Rectangle:  15

In [201]:
def area():
    x=int(input("enter the value: "))
    y=int(input("enter the value: "))
    area=x*y
    print(f"the area is: {area}")

In [202]:
area()

enter the value: 2
enter the value: 5
the area is: 10

# Q3 Maximum in the list

In [212]:
def maxnum(numbers):
    maxn=0
    for i in numbers:
        if i > maxn:
            maxn=i
            print(maxn)
    return(maxn)

In [214]:
num = maxnum([1,7,6,3,8,2])

1
7
8

In [230]:
num

8

In [216]:
def maxnum(numbers):
    numbers.sort()
    return numbers[-1]

In [218]:
maxnum([1,7,6,3,8,2])

8

In [219]:
def maxnum(numbers):
    sortnum= sorted(numbers)
    return sortnum[-1]

In [220]:
maxnum([1,7,6,3,8,2])

8

In [221]:
sorted([1,7,6,3,8,2])

[1, 2, 3, 6, 7, 8]

In [159]:
greeting()

hello1123

In [160]:
greeting()

hello1123

# Q4 Fibonacci

In [248]:
def fibonacci(n):
    fib=[0,1]
    for i in range(2,n+1):
        next_fib= fib[-1] + fib[-2]
        fib.append(next_fib)
    return fib

In [249]:
f = fibonacci(10)

In [250]:
f[-1]

55

In [251]:
def fib(n):
    if n <= 1:
        return n
    else:
        return fib(n-1) + fib(n-2)

In [252]:
fib(10)

55

In [67]:
def my_function(name):
    return (f"Hello from a {name}")

In [68]:
greet = my_function("akash")

In [69]:
print(greet)

Hello from a akash

In [54]:
my_function(["akash","darki","siri","Arun","ajay"])

['hi AKASH', 'hi ARUN', 'hi AJAY']

In [49]:
my_function()

['hi AKASH', 'hi ARUN']

In [ ]:
a =

In [55]:
def casemaker(phone,colour):
    return (f"{colour} color case ready for the {phone} ")

In [10]:
def phonecase(phone):
    return phone + "case"
phonecase("redmi")

'redmicase'

In [56]:
greet=casemaker("Iphone 13 pro max","blue")
print(greet)

'blue color case ready for the Iphone 13 pro max '

In [35]:
print(greet)

blue color case ready for the Iphone 13 pro max

In [57]:
num = multi(4,5)

In [59]:
num * add(1,2)

80

In [90]:
def greetings(name):
    print(f"hello {name}, have a great day")

In [92]:
greetings("nikil")

hello nikil, have a great day

In [93]:
def sqrt(num):
    return num ** 2

In [94]:
sqrt(4)

16

In [97]:
def gift(things):
     print(f"it is your {things}, for gift")

In [98]:
gift("pen")

it is your pen, for gift

In [73]:
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def multi(a,b):
    return a*b
def divi(a,b):
    return a//b

a = int(input("enter the first value: "))
b = int(input("enter the second value: "))
operations = input("mention the operation: ")
ans = 0
if "+" in operations:
    ans = add(a,b)
if "-" in operations:
    ans = sub(a,b)
if "*" in operations:
    ans = multi(a,b)
if "/" in operations:
    ans = divi(a,b)
print(f"Your Answer: {ans}")

enter the first value: 1
enter the second value: 2
mention the operation: +
Your Answer: 3

In [87]:
def add(a,b):
    return a+bw
def sub(a,b):
    return a-b
def multi(a,b):
    return a*b
def divi(a,b):
    return a//b

def calc(a,b,operations="+"):
    ans = 0
    if "+" in operations:
        ans = add(a,b)
    if "-" in operations:
        ans = sub(a,b)
    if "*" in operations:
        ans = multi(a,b)
    if "/" in operations:
        ans = divi(a,b)
    return(f"Your Answer: {ans}")

In [88]:
num = calc(2,1,"-")

In [74]:
sum([1,2,3,4])

10

In [89]:
print(num)

Your Answer: 1

In [ ]:
def greeting(name):
    print(f"hello {name}")

In [ ]:
greeting("sri ram")

In [ ]:
a=greeting("afjoh")

In [ ]:
def greeting(name):
    return(f"hello {name}")

In [ ]:
greeting("akash")

In [ ]:
greeting()

In [1]:
def priceop(lst):
    price_list={"pasta":28,"maggi":10,"bag":5,"newspaper":3,"milk":19,"watercan":30}
    sumofproduct=0
    for x in lst:
        if x in price_list:
            sumofproduct+=price_list[x]
        else:
            print(f"product {x} is not available")
    return sumofproduct

In [3]:
priceop(["pasta","bag","milk"])

52

In [6]:
def even_num_check(numberslist):
    even_number = []
    for number in numberslist:
        if number%2==0:
            even_number.append(number)
        else:
            pass
    return even_number

In [7]:
even_num_check([1,2,3,4,5])

[2, 4]

Tuple unpacking using functions

In [256]:
def employee_of_the_month(emp_list):
        current_max = 0
        best_employee = ""
        for employee,hours in emp_list:
            if hours> current_max:
                current_max = hours
                best_employee = employee
            else:
                pass
        return(best_employee,current_max)

In [260]:
best = employee_of_the_month([("siri",300),("darkii",2000),("akash",1000),("sai",50)])
print(f"best employee of the month is {best[0]} and total working hour is {best[1]}")

best employee of the month is darkii and total working hour is 2000

In [254]:
for i,j in [("siri",300),("darkii",2000),("akash",1000),("sai",50)]:
    print(j)

300
2000
1000
50

def names_check(list1):
    nameA=[]
    for name in list1:
        if name[0]=="a":
            nameA.append(name)
        else:
            pass
        return(nameA)

In [ ]:
names_check(["akash","balu","ajay"])

In [1]:
names=[("akash","M"),("rajesh","K"),("sri","D")]

In [3]:
for name,initial in names:
    print(name)

akash
rajesh
sri

In [ ]:
def best_student(marklist):
    max_mark=0
    topper=""
    for names,marks in marklist:
        if marks>max_mark:
            max_mark = marks
            topper = names
        else:
            pass
    return(max_mark,topper)

In [261]:
def best_biriyanii(biriyani_list):
    max_rating=0.0
    best_biriyani=""
    location=""
    for rating,biriyani,map_location in biriyani_list:
        
        if rating>max_rating:
            max_rating=rating;
            best_biriyani=biriyani;
            location=map_location;
        else:
            pass
    print(f"the best biriyani in chennai is {best_biriyani} and the overall rating is {max_rating} the location of the shop is {location}")

# *ARGs & *KWARG

In [13]:
def price(*args):
    total=0
    for i in args:
        total+=i
    return total

In [14]:
price(1,2,3,4,5,6,7,8,9)

45

In [10]:
def prodlst(**kwrgs):
    for i,j in kwrgs.items():
        print(i,j[1])

In [11]:
prodlst(biriyani=[300,200],pizza=[300,200],tandoori=[300,200])

biriyani 200
pizza 200
tandoori 200

In [265]:
import requests
from bs4 import BeautifulSoup
url ="https://www.eazydiner.com/chennai/restaurants/biryani?cuisines%5B0%5D=biryani&total=199&page=4"
r = requests.get(url)
data = BeautifulSoup(r.text, "html.parser")
##print(data.prettify())
temp = data.find_all('span', class_="critic")
rating = []
biriyani = []
location = []
for elements in temp:
    element = float(elements.text)
    
    rating.append(element)

temp1 = data.find_all('h3', class_="grey res_name font-20 bold inline-block")   
for elements1 in temp1:
    elements1 = elements1.text.replace("\n           "," ").replace("          "," ").replace("      "," ")
    ##elements1= elements1.text.replace("      "," ")
    biriyani.append(elements1)

temp2 = data.find_all('h3', class_="margin-t-5 res_loc")
for elements2 in temp2:
    location.append(elements2.text.replace("\n     "," ").replace("                "," ").replace("            "," "))

ch_biriyani = list(zip(rating,biriyani,location))
print(ch_biriyani)

best_biriyanii(ch_biriyani)

[(4.0, ' A.M.S. Hyderabad Biriyani ', ' Vadapalani, Chennai '), (4.0, " Pabrai's Fresh and Naturelle Biryanis ", ' Thiruvanmiyur, Chennai '), (4.0, ' Qurbani Biryani ', ' Saligramam, Chennai '), (4.0, ' Rawthar Thalappakattu Biryani ', ' Medavakkam, Chennai '), (4.0, ' Al Ameer Hyderabad Biryani ', ' Porur, Chennai '), (4.0, ' Arcot Biryani Fast Food ', ' Medavakkam, Chennai '), (4.0, ' Arsh Biryani Palace ', ' Ramapuram, Chennai '), (4.0, ' Avadi Amma Biryani ', ' Avadi, Chennai '), (4.0, ' Biryani.com ', ' Perungudi, Chennai '), (4.0, ' Bismi Biriyani ', ' Mogappair, Chennai ')]
the best biriyani in chennai is  A.M.S. Hyderabad Biriyani  and the overall rating is 4.0 the location of the shop is  Vadapalani, Chennai

In [ ]:
def solve(A):
    B=tuple(A)
    C=[]
    for element in A:
        C.append(B.count(element))
    D = max(C)
    return D

In [ ]:
solve([1,1,2,3,1])

In [ ]:
def solve(N,A):
    B=tuple(A)
    C=[]
    for element in A:
        C.append(B.count(element))
    D = max(C)
    return D

In [ ]:
solve(3,[1,2,3,4,3])

MAP & LAMBDA

In [ ]:
def vote(age):
    if age>= 18:
        return "Eligible"
    else:
        return "NOT Eligible"
    
ellist = []
for elements in agelist:
    ellist.append((vote(elements)))
print(ellist)

In [ ]:
agelist = [14,19,18]

In [ ]:
list(map(vote,agelist))

In [ ]:
for elements in agelist:
    print(vote(elements))

In [ ]:
def square(num):return num**2
def squarert(num):return num**0.5

In [ ]:
print(list(map(square,[1,2,3,4,5])))
list(map(squarert,[1,2,3,4,5]))

In [ ]:
list(map(lambda num:num**2,[1,12,32,4]))

In [ ]:
list(map(lambda name:name[0] ,["akash","surendharan","sirisha","darkii"]))

In [ ]:
list(map(lambda word:int(word) == word[::-1] ,input("Enter the element").split(",")))

In [ ]:
listn=[]
n = int(input("enter the number of list"))
while n!=0:
    listn.append(input())
    n-=1
listn

In [ ]:
l = input("Enter the element").split(",")
l

In [ ]:
x = "GLOBAL"
def numbers():
    x="LOCAL"
    def number2():
        global x
        x=4
        print(x)
    number2()

# CLASS & OBJECTS

A class is a user-defined blueprint or prototype from which objects are created. Classes provide a means of bundling data and functionality together. Creating a new class creates a new type of object, allowing new instances of that type to be made.

In [81]:
class Phone():
    def __init__(self,model,ram,camera,storage,colour,fc):
        #Attribute properties of the objects
        #getting arguments from the user
        #then assigning to the self.attribute_name
        #we assuming self as a instance of the class
        self.model=model
        self.ram=ram
        self.camera=camera
        self.storage=storage
        self.colour = colour
        self.front_camera=fc
    def info(self,processor):
        print(f"the phone model is {self.model} \nthe RAM  is {self.ram}\n the type of the processor {processor}")
    def caminfo(self):
        print(f"the spec of back camera is {self.camera} \nThe spec of Front camera {self.front_camera}")

In [82]:
myphone=Phone(model="Pixel 6",ram="8GB",camera="64MP",storage="248GB",colour = "White",fc="12 MP")

In [18]:
vishalphone=Phone(model="iphone",ram="8GB",camera="64MP",storage="248GB",colour = "White")

In [83]:
myphone.info("snapdragon")

the phone model is Pixel 6
the RAM  is 8GB
 the type of the processor snapdragon

In [12]:
myphone.camera

'64MP'

In [13]:
myphone.ram

'8GB'

In [14]:
myphone.storage

'248GB'

In [57]:
class Numlist():
    def __init__(self,numbers):
        
        self.evenlist = [x for x in numbers if x%2==0]
        self.oddlist = [x for x in numbers if x%2!=0]
        self.square=[x**2 for x in numbers]
        self.squareroot=[x**(1/2) for x in numbers]

In [63]:
numbers=input("enter the list of numbers")

enter the list of numbers1,2,3,4,5

In [66]:
numlist=numbers.split(",")

ValueError: invalid literal for int() with base 10: '1,2,3,4,5'

In [65]:
numlist

['1', '2', '3', '4', '5']

In [68]:
numbers=[]

In [69]:
n=int(input("Enter the number of elements"))

Enter the number of elements3

In [70]:
for i in range(n):
    numbers.append(int(input(f"Enter the {i} element")))

Enter the 0 element1
Enter the 1 element2
Enter the 2 element3

In [71]:
numbers

[1, 2, 3]

In [ ]:
class Numlist():
    def __init__(self,numbers):
        
        self.evenlist = [x for x in numbers if x%2==0]
        self.oddlist = [x for x in numbers if x%2!=0]
        self.square=[x**2 for x in numbers]
        self.squareroot=[x**(1/2) for x in numbers]

In [72]:
mynumlist=Numlist(numbers)

In [73]:
mynumlist.evenlist

[2]

In [59]:
mynumlist.evenlist

[2, 4, 6, 8, 10]

In [74]:
mynumlist.oddlist

[1, 3]

In [75]:
mynumlist.square

[1, 4, 9]

In [76]:
mynumlist.squareroot

[1.0, 1.4142135623730951, 1.7320508075688772]

In [37]:
class Phone():
    
    #class object attribute
    #same for any instance of the class
    phtype = "Smart phone"
    
    def __init__(self,model,ram,camera,storage):
        #Attribute properties of the objects
        #getting arguments from the user
        #then assigning to the self.attribute_name
        #we assuming self as a instance of the class
        self.model=model
        self.ram=ram
        self.camera=camera
        self.storage=storage
        
    def info(self,colour):#methods
        print(f" Model name: {self.model}\n RAM: {self.ram}\n Camera: {self.camera}\n Storage: {self.storage}, colour is {colour}")

In [38]:
myphone=Phone(model="Pixel 6",ram="8GB",camera="64MP",storage="248GB")

In [ ]:
myphone.info

In [30]:
vishal=Phone(model="Redmi note 8 pro",ram="6GB",camera="64MP",storage="64GB")

In [31]:
id(myphone)

1407163500624

In [32]:
id(vishal)

1407164341744

In [33]:
myphone.phtype

'Smart phone'

In [34]:
vishal.phtype

'Smart phone'

In [ ]:
class Numlist():
    def __init__(self,numbers):
        self.numbers=numbers
        self.evenlist = [x for x in numbers if x%2==0]
        self.oddlist = [x for x in numbers if x%2!=0]
        self.square=[x**2 for x in numbers]
        self.squareroot=[x**(1/2) for x in numbers]
        
    def addlist(self,anotherlist):
        combinedlist=[x+y for x in self.numbers for y in anotherlist]
        return combinedlist

In [ ]:
mynumlist=Numlist(numbers=[1,2,3,4,5,6,7,8,9,10])

In [ ]:
mynumlist.evenlist()

In [133]:
class UserProfile:
    def __init__(self, username, bio="no bio", followers=0,post = 0):
        self.username = username
        self.bio = bio
        self.followers = followers
        self.no_post=post

    def update_bio(self, new_bio):
        self.bio = new_bio

    def follow(self):
        self.followers += 1

    def unfollow(self):
        if self.followers > 0:
            self.followers -= 1
    def post(self,status):
        if "N" == status:
            self.no_post  += 1
        elif "D" == status:
            self.no_post  -= 1
        else:
            print("Enter N for New post or D for Delet the post")

In [ ]:
user1 = UserProfile("gamker", "Ethical Hacker")

In [143]:

print("Username:", user1.username)
print("Bio:", user1.bio)
print("Followers:", user1.followers)
print("No of Post:", user1.no_post)

Username: gamker
Bio: Ethical Hacker
Followers: 0
No of Post: 2

In [86]:

user1.update_bio("Python developer")
print("Updated Bio:", user1.bio)

Updated Bio: Python developer

In [131]:
user1.follow()

In [142]:
user1.post("D")

In [49]:
user1.follow()
print("Followers after following:", user1.followers)

Followers after following: 5

In [94]:
user1.unfollow()
print("Followers after unfollowing:", user1.followers)

Followers after unfollowing: 2

In [145]:
class BankAccount:
    def __init__(self, account_number, initial_balance=0):
        self.account_number = account_number
        self.balance = initial_balance

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"Deposited ${amount}. New balance: ${self.balance}")
        else:
            print("Invalid deposit amount.")

    def withdraw(self, amount):
        if 0 < amount <= self.balance:
            self.balance -= amount
            print(f"Withdrew ${amount}. New balance: ${self.balance}")
        else:
            print("Invalid withdrawal amount or insufficient funds.")

    def check_balance(self):
        print(f"Account Number: {self.account_number}, Balance: ${self.balance}")


# Example usage:
account1 = BankAccount("123456", 1000)
account1.check_balance()  # Output: Account Number: 123456, Balance: $1000

account1.deposit(500)  # Output: Deposited $500. New balance: $1500
account1.withdraw(200)  # Output: Withdrew $200. New balance: $1300

account1.check_balance()  # Output: Account Number: 123456, Balance: $1300

Account Number: 123456, Balance: $1000
Deposited $500. New balance: $1500
Withdrew $200. New balance: $1300
Account Number: 123456, Balance: $1300

# INHERITANCE

Inheritance is one in which a new class is created (derived class) that inherits the features from the already existing class(Base class).

In [152]:
class Students():
    
    def __init__(self,stdinfo):
        self.stdinfo = stdinfo
        self.names = [names for names,rollno,CGPA in stdinfo]
        self.rollno = [rollno for names,rollno,CGPA in stdinfo]
        self.CGPA = [CGPA for names,rollno,CGPA in stdinfo]

In [153]:

students=Students([("akash",57,9.25),("siri",26,9.23),("Mirage",21,9.10),("Mark",32,6)])

In [154]:
students.CGPA

[9.25, 9.23, 9.1, 6]

In [155]:
class Placement(Students):
    def __init__(self,stdinfo):
        Students.__init__(self,stdinfo)
    def eligible(self):
        return [names for names,rollno,CGPA in self.stdinfo if CGPA>8]

In [156]:
placement2022=Placement([("akash",57,9.25),("siri",26,9.23),("Mirage",21,9.10),("Mark",32,6)])

In [160]:
placement2022.eligible()

['akash', 'siri', 'Mirage']

# polymorphism

Polymorphism refers to methods of different objects have the same, but do different task

In [146]:
class Animal():
    def __init__(self,name):
        self.name=name
    def speak(self):
        raise notimplementederror("subclass must implement this abstract method")

In [147]:
class Dog(Animal):
    def speak(self):
        return self.name+" SAYS WOOF"

In [148]:
class Cat(Animal):
    def speak(self):
        return self.name+" SAYS MEOW"

In [149]:
mydog = Dog("SAM")
print(mydog.speak())

SAM SAYS WOOF

In [150]:
mycat = Cat("Luna")
print(mycat.speak())

Luna SAYS MEOW

# Special methods in OOPS

def __str__(self):
def __len__(self):
del

In [53]:
class Books():
    def __init__(self,title,author,pages):
        self.title = title
        self.author= author
        self.pages = pages
    def __str__(self):
        return f"{self.title} by {self.author}"

In [54]:
b = Books("python rocks","akash",140)

In [55]:
print(b)

python rocks by akash

In [56]:
class Books():
    def __init__(self,title,author,pages):
        self.title = title
        self.author= author
        self.pages = pages
    def __str__(self):
        return f"{self.title} by {self.author}"
    def __len__(self):
        return self.pages

In [57]:
b = Books("python rocks","akash",140)

In [58]:
len(b)

140

In [63]:
class Books():
    def __init__(self,title,author,pages,a,b):
        self.title = title
        self.author= author
        self.pages = pages q
    def __str__(self):
        return f"{self.title} by {self.author}"
    def __len__(self):
        return self.pages
    def __del__(self):
        print("A book object as been deleted")

In [64]:
b = Books("python rocks","akash",140)

In [65]:
del b

A book object as been deleted

# OOPS CHALLENGE

In [66]:
class Account:
    def __init__(self,owner,balance):
        self.owner = owner
        self.balance = balance
    def __str__(self):
        return f"Account owner:   {self.owner}\nAccount balance: {self.balance}"
    def deposit(self,money):
        self.balance = self.balance+money
        print("Deposit Accepted")
    def withdraw(self,money):
        if money < self.balance:
            self.balance = self.balance-money
            print("Withdrawal Accepted")
        else:
            print("Funds Unavailable!")

In [67]:
acct1 = Account('Jose',100)

In [68]:
print(acct1)

Account owner:   Jose
Account balance: 100

In [69]:
acct1.deposit(50)

Deposit Accepted

In [70]:
acct1.withdraw(75)

Withdrawal Accepted

In [71]:
acct1.withdraw(500)

Funds Unavailable!

In [72]:
acct1.balance

75

# MODULES AND PACKAGES

In [9]:
def fact(num):
    if num==0:
        return 1
    return num*fact(num-1)
def strong(n):
    sum=0
    for i in str(n):
        sum=sum+fact(int(i))
    if sum==n:
        return("its a strong number")
    else:
        return("its not a stong number")

In [11]:
strong(141234)

'its not a stong number'

In [12]:
n = 376
# n^2 = 141376 141376[-3::] = 376
print("YES" if int(str(n**2)[-len(str(n))::]) == n else "No")

YES

In [25]:
def psqr(num):
    n=str(num**num)
    return n[-len(str(num))::] == str(num)

In [26]:
num=int(input())
if psqr(num):
    print("perfect square")
else:
    print("not a perfect square")

376
perfect square

In [4]:
name="akash"
count=0
for letters in name:
    print(letters)
    count=count+1
print(count)

a
k
a
s
h
5

In [ ]:
def printresult(arr1,arr2):
    arr3=[]
    for i in arr1:
        if i in arr2:
            li3.append(i)
    return arr3

In [ ]:
printresult([12,23,34,45,56,67,78,89],[23,11,45,45,99,78])

In [66]:
from bs4 import BeautifulSoup
import requests
url = "https://www.grabon.in/amazon-deals/"
r = requests.get(url)
data = BeautifulSoup(r.text, "html.parser")
print("\ncollecting offer details from amazon")
temp = data.find_all("div", class_="g-deal")

print("\nDeal of the day", temp[0].text.replace("   ", "on").replace("BUY NOW", "BEFORE OFFER PRICE"))

print("\ncollecting, and sending you the offers")
print("Deal of the day", temp[1].text.replace("   ", "on").replace("BUY NOW", "BEFORE OFFER PRICE"))

print("\nDeal of the day", temp[2].text.replace("   ", "on").replace("BUY NOW", "BEFORE OFFER PRICE"))

print("\nDeal of the day", temp[3].text.replace("   ", "on").replace("BUY NOW", "BEFORE OFFER PRICE"))

collecting offer details from amazon

Deal of the day  75 % OFFon Amazon Safari Travel Suitcase for Men and Women Rs. 1967 Rs. 7775 BEFORE OFFER PRICE

collecting, and sending you the offers
Deal of the day  63 % OFFon Amazon True Gaming Earbuds Rs. 1967 Rs. 7775 BEFORE OFFER PRICE

Deal of the day  38 % OFFon Amazon Logitech M221 Wireless Mouse Rs. 799 Rs. 1295 BEFORE OFFER PRICE

Deal of the day  55 % OFFon Amazon Butterfly Smart Glass 3 Burner Gas Stove Rs. 2899 Rs. 6495 BEFORE OFFER PRICE

In [150]:
import datetime
from deta import Deta

db = Deta("d0pjdk9omzw_5EthaArNwAcvxF3Q89MkPPW53EpUpUKx").Base("data123")

item = {"key": "data2", "value": 12}

# expire in 300 seconds
db.put(item)

{'key': 'data2', 'value': 12}

In [153]:
data = db.get("data2")

In [154]:
data

{'key': 'data2', 'value': 12}